.foot{
    width: 100%;
    height: 20rem;
    background-color: rgb(201, 197, 197);
    display: flex;
    padding: 2rem 0;
}

.foot-width{
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    /* border: 2px solid red ; */
    margin: auto;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.foot-1{
    width: 20%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2rem;
}


.footer-logo{
    width: fit-content;
    min-width: 5rem;
    height: fit-content;
    padding: 1rem;
    background-color: black;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.footer-logo img{
    width: 100%;
    display: flex;
}

.socials{
    width: 100%;
    height: 5rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.socials img{
    width: calc(70% / 5);    
}

.link1{
    width: fit-content;
    height: 100%;
    /* border: 2px solid blue; */
}

.link1 ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;    
    padding: 0;
    text-align: center;
}

.link1 a{
    color: black;
    font-family: "Ubuntu";
    font-weight: 500;
}

.last{
    width: 100%;
    height: fit-content;
    background-color: rgb(201, 197, 197);
    padding: 2rem;
    gap: 2rem;
}

hr{
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.445);
    margin: auto;
    margin-bottom: 2rem;
}

.footer-copyright{
    font-family: "Ubuntu";
    font-size: 14px;
    text-align: center;

}



@media (max-width: 768px){

    .foot{
        height: fit-content;
        padding-bottom: 1rem;
    }

    .foot-width{
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .link1{
        border: 2px solid white;
        width: 50%;
    }

    .socials{
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .socials img{
        width: calc(100% / 2);    

    }
}
